



<div class="header">
  <div id="background"></div>
  <div id="title" class="title">AFTERMATH</div>
  <div class="subtitle" (click)="redirectInsta()">@ammarguerite</div>
</div>

<div id="logo">
  AFTERMATH
</div>

<div class="header white">

</div>




<div class="header white">
  <div class="scrollImages haut">
    <img id="paul_bleu_3" class="hidden" src="assets/photos/paul_bleu_3.png">
  </div>

  <div class="textScrollContainer">
    <div class="textScroll" id="textScroll1">Ombre Boucle Vitre Fuchsia Bouillir Aride Lune Pluie Onde</div>
    <div class="textScroll" id="textScroll2">Soleil Rouge Colère Battement Sang Bulle Corde Iris Casino</div>
    <div class="textScroll" id="textScroll3">Aftermath Vapeur Fleur Sécheresse Battement Ride Bleu Vice</div>
    <div class="textScroll" id="textScroll4">Repères Retour Sens Chute Carte Nous Bleu Sud Céramique </div>
  </div>
</div>

<div id="horizontal" class="header2 white">
  <div id="horizontalScrollContainer" class="horizontalScrollContainer">
    <img class="horizontalScroll firstScrollImg" src="assets/photos/paul_bleu.jpg" alt="">
    <img class="horizontalScroll" src="assets/photos/paul_bleu_2.jpg" alt="">
    <img class="horizontalScroll" src="assets/photos/paul_bleu_4-.jpg" alt="">
    <img class="horizontalScroll lastScrollImg" src="assets/photos/paul_noir_2.jpg" alt="">
    <!--<img class="horizontalScroll" src="assets/photos/paul_rouge.jpg" alt="">-->
  </div>
</div>

<div class="header white"></div>
<div class="header white"></div>
<div class="header white"></div>
<div class="header white"></div>

<div class="header black black-hole">
  <img class="img-black-hole" src="assets/photos/black_hole_slow.gif" alt="" >
  <img src="assets/photos/paul_noir.jpg" alt="">
</div>




<div id="instaLink" class="header white">
  <div class="wrapper">
    <div class="insta1" (click)="redirect1()">
      <img class="instaImg" src="assets/photos/paul_noir.jpg" >
    </div>
    <div class="insta2" (click)="redirect2()">
      <img class="instaImg" src="assets/photos/paul_cover_full_2.jpg">
    </div>
    <div class="insta3" (click)="redirect3()">
      <img class="instaImg" src="assets/photos/paul_cover_full.jpg">
    </div>
  </div>
</div>



<footer>

  <div class="footer-category">
    <div class="h1">Projet</div>
    <div class="content"> <br>
      Aftermath est un projet musical porté <br>
      par Paul Kazmierczak et illustré par Amma Didier.<br><br><br><br><br><br><br>
    </div>
  </div>

  <div class="footer-category contact">
    <div class="h1">Contacts</div>
    <div class="content"> <br>
      Site web :  @vivian_dlny<br>
      Photographie & illustration : @ammarguerite<br>
      Model & composeur : @paulkzm<br>
      Assistance photo : @sucrette_u & @maxvph<br><br><br><br><br>
    </div>
  </div>
  <div class="footer-category legal">
    <div class="h1">Informations</div>
    <div class="content"><br>
      Développement du site par Vivian DELANNOY <br>
      comme simple envie d'essayer d'arranger un shooting <br>
      photo sur un site web. <br><br>
      Je ne suis pas responsable des choix légaux des <br>
      liens vers lesquels je peux rediriger.<br>
      J'utilise des images qui sont disponibles sans <br>
      licence sur internet.

    </div>
  </div>
</footer>
