@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Roboto&display=swap');


#logo{
  font-family: Staatliches;
  color: black;
  position: fixed;
  font-size: 2vw;
  top:10px;
  left:10px;
  opacity: 0;
  transition: ease-in-out 0.5s;
  z-index:9;
}

#background:hover ~ ng-lottie{
  opacity:1;
}

ng-lottie{
  transition: opacity 2s;
  opacity: 0;
  display: block;
  width:1.5vw !important;
  //position: absolute;
  position:fixed;
  margin-left:50vw;
  margin-top: 40vw;
  transform: translate(-50%,50%);
}

.small{
  z-index: -1;
  height: 50vh;
  color: white;

  width: 100vw;
  overflow: hidden;
}

.pageSizeWrapper{
  z-index: -1;
  height: 100vh;
  color: white;

  width: 100vw;
  overflow: hidden;

  #background{
    background-color: black;
    height: 100vh;
    width: 100vw;
    position:fixed;
  }
  .title{
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: translateZ(0);
    -webkit-transform: translate3d(0,0,1px);
    -moz-transform: translate3d(0,0,1px);
    -ms-transform: translate3d(0,0,1px);
    -o-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px);

    background-color: black;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    font-size: 10vw;
    font-family: Staatliches;
  }
  .subtitle{
    font-size: 1vw;
    font-family: Roboto;
    cursor: pointer;
  }
}

.container{
  z-index: 8;
  height: 200vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.scrollImages{
  z-index: 2;
  position: relative;
  height: 100vh;
  width: 100vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: 80vh;
  }
}

.textScrollContainer{
  position: relative;
  z-index: 1;
  transform: translateY(-85vh);

  backface-visibility: hidden;
  display: inline-block;
  .textScroll{
    font-family: Staatliches;
    font-size: 5vw;
    -webkit-text-stroke: 1px black;
    word-spacing: 1vw;
    color:white;
    overflow: hidden;
    white-space: nowrap;
    transition: ease-out 500ms;
  }
  text-overflow: clip;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}

.visible{
  visibility: visible;
   opacity: 1;
  transition: ease-in-out 1s;
 }



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Scroll Horizontal

.biggerWrapper{
  height: 130vh;
  color: white;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.biggerWrapper::-webkit-scrollbar {
  display: none;
 }

.horizontalScrollContainer::-webkit-scrollbar{
  display: none;
}
.horizontalScrollContainer{
  display: inline-flex;

  .horizontalScrollImg{
    height: 70vh;
    padding: 0vw 10vw 0 10vw ;
    z-index: 30;
  }

  .firstScrollImg{
    margin-left: 160vw ;
  }

  .lastScrollImg{
    padding: 0vw 40vw 0 10vw ;
  }
}







.haut{
  transform: translateY(-20vh);
}

.black{
  background-color: black;
}
.white{
  background-color: white;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Trou noir
.black-hole{
  display: flex;
  justify-content: center;
  align-items: center;
  .img-black-hole{
    position: absolute;
    opacity: 0.3;
    z-index: 3;
  }
  img{
    height: 80vh;
    opacity: 0.9;
  }
}

///////////////////////////////////////////////////////////////////////////////
// insta

#instaLink{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 0 18vw;

    div > img {
      height: 22vw;
      width: 22vw;
      object-fit: cover;
      cursor: pointer;
      transition: ease-in-out 0.3s;
    }

    div > img:hover{
      transform: scale(1.02);
    }
  }

  .instaLinksAnimated{
    padding: 0 16vw;
    transition: ease-out 1s;
  }

  .instaImg{
    cursor: pointer;
  }
}



/////////////////////////////////////////////////////////
// footer


footer{
  background-color: black;
  height: 60vh;
  color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .footer-category{
    .h1{
      font-size: 1vw;
    }
    .content{
      font-size: 0.8vw;
      width:25vw;
      padding: 2vh 0;
      line-height: 1.4;
      a{
        color:inherit;
        text-underline-offset: 4px;
      }
    }
    .info-content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 11vh;
    }
  }
}



///////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////


@media only screen and (max-device-width:768px){
  * {
    box-sizing: border-box;
  }

  body {
    width: auto;
    margin: 0;
    padding: 0;
  }
  img,
  table,
  td,
  blockquote,
  code,
  pre,
  textarea,
  input,
  iframe,
  object,
  embed,
  video {
    max-width: 100%;
  }
  /* conserver le ratio des images */

  #logo{
    display:none
  }

  #background:hover ~ ng-lottie{
    opacity: 0;
  }

  img {
    height: auto;
  }

  .pageSizeWrapper{
    height: 90vh;
  }

  .scrollImages{
    #paul_bleu_3{
      height: auto;
      width: 80vw;
    }
  }

  .textScrollContainer{
    .textScroll{
      font-size: 12vw;
    }
  }


  .biggerWrapper{
    height:500vw;
    display:block;
    overflow: scroll;
  }
  .horizontalScrollContainer{
    display: block;
    width: 100vw;

    .horizontalScrollImg{
      margin:0;
      width:100vw;
      height: auto;
      padding: 0vw 10vw 0 10vw ;
    }
  }




  .black-hole{
    display: flex;
    justify-content: center;
    align-items: center;
    .img-black-hole{
      position: absolute;
      opacity: 0.3;
      z-index: 3;
    }
    img{
      opacity: 0.9;
      height: auto;
    }
    .img-paul{
      width: 100vw;
    }
    .img-black-hole{
      width: 50vw;
      height: auto;
    }
  }


  #instaLink {
    height: 44vh !important;

    .wrapper {
      padding:0;

      div > img {
        height: 33vw;
        width: 33vw;
        object-fit: cover;
        cursor: pointer;
        transition: ease-in-out 0.3s;
      }
    }
  }


  footer{
    padding: 10vh 0px;
    height: 80vh;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .footer-category{
      width: 80vw;

      .h1{
        font-size: 5vw;
      }
      .content{
        font-size: 3vw;
        width: 80vw;
        /*height: inherit;*/
        height: inherit;
        br{
          display: block;
        }
        br+br{
          display: none;
        }
      }
    }
  }
}
