



<div class="header">
  <div id="background"></div>
  <div id="title" class="title">AFTERMATH</div>
  <!--<div class="subtitle" (click)="redirectInsta()">@ammarguerite</div>-->
</div>

<div id="logo">
  AFTERMATH
</div>

<div class="header white">

</div>




<div class="header white">
  <div class="scrollImages haut">
    <img id="paul_bleu_3" src="assets/photos/paul_bleu_3.png">
  </div>

  <div class="textScrollContainer">
    <div class="textScroll" id="textScroll1">Ombre Boucle Vitre Fuchsia Bouillir Aride Lune Pluie Onde</div>
    <div class="textScroll" id="textScroll2">Soleil Rouge Colère Battement Sang Bulle Corde Iris Casino</div>
    <div class="textScroll" id="textScroll3">Aftermath Vapeur Fleur Sécheresse Battement Ride Bleu Vice</div>
    <div class="textScroll" id="textScroll4">Repères Retour Sens Chute Carte Nous Bleu Sud Céramique </div>
  </div>
</div>

<div id="horizontal" class="header2 white">
  <div id="horizontalScrollContainer" class="horizontalScrollContainer">
    <img class="horizontalScroll firstScrollImg" src="assets/photos/paul_bleu.jpg" alt="">
    <img class="horizontalScroll" src="assets/photos/paul_bleu_2.jpg" alt="">
    <img class="horizontalScroll" src="assets/photos/paul_bleu_4-.jpg" alt="">
    <img class="horizontalScroll lastScrollImg" src="assets/photos/paul_noir_2.jpg" alt="">
    <!--<img class="horizontalScroll" src="assets/photos/paul_rouge.jpg" alt="">-->
  </div>
</div>

<div class="header white"></div>
<div class="header white"></div>
<div class="header white"></div>
<div class="header white"></div>

<div class="header black black-hole">
  <img class="img-black-hole" src="assets/photos/black_hole_slow.gif" alt="" >
  <img class="img-paul" src="assets/photos/paul_noir.jpg" alt="">
</div>




<div id="instaLink" class="header white">
  <div class="wrapper">
    <div class="insta1" (click)="redirect1()">
      <img class="instaImg" src="assets/photos/paul_noir.jpg" >
    </div>
    <div class="insta2" (click)="redirect2()">
      <img class="instaImg" src="assets/photos/paul_cover_full_2.jpg">
    </div>
    <div class="insta3" (click)="redirect3()">
      <img class="instaImg" src="assets/photos/paul_cover_full.jpg">
    </div>
  </div>
</div>



<footer>

  <div class="footer-category">
    <div class="h1">Projet</div>
    <div class="content">
      <div>
        Aftermath est un projet musical porté
        par Paul Kazmierczak et illustré par Amma Didier.
      </div>
    </div>
  </div>

  <div class="footer-category contact">
    <div class="h1">Contacts</div>
    <div class="content">
      <div>Photographie & illustration : <a href="https://www.instagram.com/ammarguerite/" target="_blank">@ammarguerite</a></div>
      <div>Model & composeur : <a href="https://www.instagram.com/paulkzm/" target="_blank">@paulkzm</a> </div>
      <div>Assistance photo : <a href="https://www.instagram.com/sucrette_u/" target="_blank">@sucrette_u </a>& <a href="https://www.instagram.com/maxvph/" target="_blank">@maxvph</a></div>
      <div>Site web :  <a href="https://www.instagram.com/vivian_dlny/" target="_blank">@vivian_dlny</a></div>

    </div>


  </div>
  <div class="footer-category legal">
    <div class="h1">Informations</div>
    <div class="content info-content">
      <div>
        Développement du site par Vivian DELANNOY
        par simple envie d'essayer d'arranger un shooting
        photo sur un site web et de se challenger en développement web.
      </div>
      <div>
        Je ne suis pas responsable des choix légaux des
        liens vers lesquels je peux rediriger.
        J'utilise des images qui sont disponibles sans
        licence sur internet.
      </div>
      <div>
        Conforméméent à l'article 226-1 du code pénal, le modèle <a href="https://www.instagram.com/paulkzm/" target="_blank">@paulkzm</a>
        a consenti à l'utilisation de son image sur ce site.
      </div>

    </div>
  </div>
</footer>
